<

<h1> {{gender}} </h1>
<form class="form-horizontal" method="POST" action="result/">
    {% csrf_token %}
    <fieldset>
    
    <!-- Form Name -->
    <legend>Form Name</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Name</label>  
      <div class="col-md-4">
      <input id="textinput" name="name" type="text" placeholder="" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Age</label>  
      <div class="col-md-2">
      <input id="textinput" name="age" type="number" placeholder="" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Height</label>  
      <div class="col-md-2">
      <input id="textinput" name="height" type="number" placeholder="" class="form-control input-md" required="">
      <span class="help-block">cm</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Weight</label>  
      <div class="col-md-4">
      <input id="textinput" name="weight" type="number" placeholder="" class="form-control input-md" required="">
      <span class="help-block">kg</span>  
      </div>
    </div>
    
    {% if gender == 'male' %} 
    <!-- Multiple Radios (inline) -->
    <img src="https://bodyboostpro.co.nz/site/file/user/5/uploads/image/male%20body%20fat-MnhY8.png" height='400' alt="Italian Trulli">
    <div class="form-group">
      <label class="col-md-4 control-label" for="radios">Bodyfat percentage</label>
      <div class="col-md-4"> 
        <label class="radio-inline" for="radios-0">
          <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
          under 12%
        </label> 
        <label class="radio-inline" for="radios-1">
          <input type="radio" name="radios" id="radios-1" value="2">
          13-20%
        </label> 
        <label class="radio-inline" for="radios-2">
          <input type="radio" name="radios" id="radios-2" value="3">
          21-25%
        </label> 
        <label class="radio-inline" for="radios-3">
          <input type="radio" name="radios" id="radios-3" value="4">
          26-29%
        </label> 
        <label class="radio-inline" for="radios-4">
          <input type="radio" name="radios" id="radios-4" value="5">
          over 30%
        </label>
      </div>
    </div>
    {% endif %}
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">IQ</label>  
      <div class="col-md-2">
      <input id="textinput" name="iq" type="number" placeholder="100" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Multiple Radios (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="hair">Hair</label>
      <div class="col-md-4">
        {% if gender == 'male' %} 
        <label class="radio-inline" for="radios-0">
          <input type="radio" name="hair" id="radios-0" value="1" checked="checked">
          Normal
        </label> 
        <label class="radio-inline" for="radios-1">
          <input type="radio" name="hair" id="radios-1" value="2">
          Receding hairline
        </label> 
        <label class="radio-inline" for="radios-2">
          <input type="radio" name="hair" id="radios-2" value="3">
          Bald
        </label>
        {% endif %}
        {% if gender == 'female' %} 
        <label class="radio-inline" for="radios-0">
          <input type="radio" name="hair" id="radios-0" value="1" checked="checked">
          Long
        </label> 
        <label class="radio-inline" for="radios-1">
          <input type="radio" name="hair" id="radios-1" value="2">
          Short
        </label>
        <label class="radio-inline" for="radios-2">
          <input type="radio" name="hair" id="radios-2" value="3">
          Bald
        </label>
      {% endif %}
      </div>


    </div>
    
    {% if gender == 'male' %}
    <!-- Multiple Checkboxes (inline) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="beard">Beard</label>
      <div class="col-md-4">
        <label class="checkbox-inline" for="checkboxes-0">
          <input type="checkbox" name="beard" id="checkboxes-0" value="1">
          Yes
        </label>
      </div>
    </div>
    {% endif %}
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" type"submit">Berechne</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    